.container-fluid {
  width: 100%;
  margin: 0; 
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: grid;
  text-align: center;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto 60px auto auto; 

}
.title{
  background-color: #1bca63;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px;
  grid-area: 1 / 1 / 2 / 3;
}

.header{
  grid-area: 2 / 1 / 3 / 2; 
  justify-content: left;
  border:2px solid black;
  background-color: #1bca63;
}

.navbar-brand {
  font-size: 24px;
  padding: 5px;
}

.nav-link {
  color: black !important;
  background-color: #14984A !important;
  border-radius: 5px;
  margin: 0 10px; 
}

.sidebar {
  grid-area: 2 / 2 / 4 / 3; 
  border:2px solid black;
}

.main{
  grid-area: 3 / 1 / 4 / 2; 
  border:2px solid black;
}

.footer{
  background-color: #1bca63;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  grid-area: 4 / 1 / 5 / 3; 
}
#encabezado-tabla{
  display: flex;
  align-items: center;
  padding: 10px;
}
/*Clase de los titulos de cada seccion */
.seccion-header{
  background-color: #1B82CA;
  border: 1px solid black; 
  padding: 10px;
  font-size: 32px;
}

/*CSS de Main.js*/
.chart-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.text{
  font-size: 20px;
  padding: 5px;
}
.chart{
  width: 40%;
  height: 40%;
  margin-right: 5%;
}
.form-column{
  padding: 20px;
  border: 2px solid black; 
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3); 
  border-radius: 6px;
  margin-bottom: 5%;
}

.metrics-column{
  padding: 20px;
  border: 2px solid black; 
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3); 
  border-radius: 6px;
}

/*CSS de RegistroAlimentos.js*/
.botones{
  padding: 10px;
}
.botones a {
  margin-right: 10px; /* Añade un margen de 10px a la derecha de cada enlace */
}

/*CSS de las Cards*/
.card-img-top {
  height: 200px; 
  object-fit: scale-down; 
}

.card {
  height: auto; /* Ajusta esta altura según tus preferencias */
}

.custom-card {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-5px);
}

.btn-primary,
.btn-danger,
.btn-success {
  border-radius: 20px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-success {
  background-color: #14984A;
  border-color: #14984A;
}

.btn-success:hover {
  background-color: #117E3E;
  border-color: #117E3E;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#dropdown-basic-button {
background-color: #28a745;
border-color: #28a745;
border-radius: 20px;
}

#dropdown-basic-button:hover {
background-color: #0056b3;
border-color: #0056b3;
}

.Form.Control {
border-radius: 20px;
border-color: #ced4da;
}

.Form.Control:focus {
border-color: #80bdff;
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.Card.Title {
font-size: 18px;
font-weight: bold;
color: #333;
}

.Card.Text {
font-size: 14px;
color: #666;
}

.Button {
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
}

.Button:hover {
opacity: 0.8;
}

.mt-4 h3 {
font-size: 20px;
color: #333;
margin-bottom: 15px;
}

.Dropdown.Item {
font-size: 14px;
color: #333;
}

.Card.Img {
height: 150px;
object-fit: cover;
}